<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">My Password Generator</h1>
      <div class="field">
        <label>Length</label>
        <input class="input" (input)="onChangeLength($event.target.value)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseCapitals()" type="checkbox" />
            Use Capitals
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <button
        [disabled]="
          !(
            length &&
            (includeLetters ||
              includeCapitals ||
              includeSymbols ||
              includeNumbers)
          )
        "
        (click)="onButtonClick()"
        class="button has-background-primary is-fullwidth"
      >
        Generate!
      </button>

      <div class="your-password" *ngIf="password">
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>My Password Generator</strong> is made with
      <i class="material-icons">favorite</i> in Laguna Niguel, CA by
      <a href="https://www.linkedin.com/in/trozpietraszuk/">Mark Pietraszuk</a>
      &copy; <span id="copyright">2020</span>.
    </p>
    <script type="text/javascript">
      var thisYear = new Date().getFullYear(),
        startYear = "2020";

      if (thisYear > startYear) {
        document.getElementById("copyright").innerHTML =
          startYear + "-" + thisYear;
      }
    </script>
  </div>
</footer>
