img {
  width: 20%;
}
.box {
  background-image: url("/assets/img/My-Password-Generator.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}
